#signup {
	font-family: "RobotoL", sans-serif;
	background-color: white;
	font-size: 17px;
	text-align: center;
	margin-right: 1100px;
	margin-left: 450px;
	position: absolute;
	right: 5%;
	top: 45%;

}

#logo {
	position: absolute;
	left: 55%;
	top: 10%;
}

#copy {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 4px;
  border: 1px solid #000000;
  color: black;
  text-align: center;
  margin-right: 750px;
  margin-left: 750px;
  font-size:13px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  position: absolute;
  bottom: -100px;
}

@font-face{
	font-family: "Roboto";
	src: url(Roboto-Regular.ttf);
}

@font-face{
	font-family: "RobotoL";
	src: url(Roboto-Light.ttf);
}